<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-3">
<div class="textwidget">
<div class="brand">
  <div class="row">
    <div class="col-lg-3">
      <div class ="logo" style="background-image: url('./assets/images/logo.png');"></div>
    </div>
    <div class="col-lg-3">
      <div class="font"> İLKAY ORMANCILIK</div>
    </div>
  </div>


  </div>
 
    </div>
  </div>
  <div class="col-md-3">
    <div  class="textwidget">
      <h6>İletişim</h6>
    <p> Adress: Yüzücü sokak Varlık Mahallesi</p>
    <p> Yenimahalle/Ankara</p>
    <p>Tel: (+90) 0536 962 64 75 </p>
    <p>Tel: (+90) 0536 962 64 75 </p>
    <p>mail: info@ilkayormancilik.com</p>
      </div>


  </div>
    <div class="col-md-3">
      <div class="textwidget">
        <h6>MENÜ</h6>
        <p>HAKKIMIZDA</p>
        <p>HİZMETLERİMİZ</p>
        <p>İLETİŞİM</p>
        <p>KURUMSAL</p>
            </div>
  </div>

    <div class="col-md-3">
      <div  class="textwidget">
        <h6>HİZMETLERİMİZ</h6>
      <p> ORMAN İZİNLERİ</p>
      <p> ÇEVRE DANIŞMANLIK</p>
      <p>ÇED RAPORU</p>
      <p>MADEN İZİNLERİ </p>
      <p>ÖZEL AĞAÇLANDIRMA</p>
        </div>

    </div>
  </div>
  </div>
</footer>
<div class="footer-copyright">
  <div class="container">
    <p>Copyright © 2023 - İlk Ay Ormancılık</p>
    <p class="mt" title="Melek Türüdi" >Tasarım SEO:  Melek Türüdi</p>
  </div>
</div>
