
<div class="banner">
  <div class="banner-foto" style="background-image: url('./assets/images/banner.jpg'); background-size: cover; background-position: center;" alt="Random first slide">
    <h1>ÖZEL AĞAÇLANDIRMA PROJE TANZİMİ:</h1>
    <div class="bg"></div>

  </div>
</div>

<div class="container" style="margin-top: 40px;" >
 <p> <br><h4> 1.Müracaat aşamasında istenilecek belgeler:</h4>
<br>
  <b>Orman ve Hazine Arazilerinde;</b>
  <br>– Saha tahsis belgesi
  <br>
  – İlgiliye ait T.C. kimlik Fotokopisi
  <br>
  – 50 Ha üzerinde özel ağaçlandırma yapmadığına dair tutanak
  <br>
  – Kurum İçerisinde birinci dereceden akrabasının olmadığına ilişkin yazı
  <br>
  – Sahaya ait Memleket/Amenajman/Kadastro haritalarının tanzimi
  <br>
  <b>Sahipli Arazilerde;</b>
  <br>
  – İlgiliye ait T.C. kimlik Fotokopisi
  <br>
  – Tapu Fotokopisi
  <br>
  – Güncel Tapu Kaydı
  <br>
  – Koordinatlı Çaplı Tasarruf Belgesi
  <br>
  – Tapunun başkasına ya da birden fazla kişiye ait olması durumunda diğer hissedarlardan alınacak muvafakat yazısı (Noter Onaylı)
  <br>
  Özel Ağaçlandırma talebi olan kişinin yukarıda belirtilen dosyaları İlgili İşletme Müdürlüğüne bir dilekçe ekinde sunması ve talebinin olumlu olarak değerlendirilmesi durumunda 90 gün içerisinde 6912 nolu Özel ağaçlandırma tamimi ndeki dizpozisyona uygun şekilde Serbest Orman Mühendisliği Şirketine Özel Ağaçlandırma Projesi tanzim ettirmesi gerekmektedir.
  <br>
 <b>2. Toprak ve Su Analizlerinin yaptırılması:
</b>
<br>Özel ağaçlandırma projesi yapılacak saha üzerinde öncelikle saha büyüklüğüne bağlı olarak (10 Ha/Adet) toprak analizi ve su analizi yaptırılır. (Toprak yapısı değişkenlik gösteriyorsa toprak analizi yapılacak profil sayısının artırılmasında fayda görüyoruz.)
<br>
  Açılacak olan toprak profili 120 cm derinliğinde olmalı ve 0-30, 30-60, 60-90 ve 90-120 cm olacak şekilde her profil çukurundan 4 adet numune alınmalıdır. Alınacak her numune daha önceden etiketleri yapıştırılmış olan yarım kilogramlık poşetler içerisinde laboratuara iletilecektir. Ayrıca sahada sulama amacı ile kullanılacak su numunesi, alındığı gün içerisinde iletilmek koşulu ile en az 1lt lik pet şişe içerisinde laboratuara verilmelidir.
  <br>
  Numune sonuçları değerlendirilerek proje içerisinde uygulamaya yönelik hangi türlerin kullanılacağı belirlenecektir.
  <br>
 <b>3. Ofis Çalışmaları:</b>
 <br>
  Özel ağaçlandırma projesi yapılırken sahada ihtiyaç doğrultusunda üretim, bakım ve koruma amaçlı konteynır, karavan ile hangar-depo, sulama havuzu, enerji nakil hattı ve servis yolu yapılmasına izin verilebilir.
  <br>
  <b>Sahanın mülkiyetine bağlı olarak;</b>
<br>
  Orman arazileri üzerinde, Hangar ve depolar; temel kullanılmadan toprak veya demirli ya da demirsiz beton zemin üzerine geçici olarak 25 hektara kadar olan sahalarda 40 m², 25 hektarın üzerindeki sahalarda ise 120 m²’ yi geçmeyecek şekilde tamim ekindeki standartlarda yapılabilir. Ayrıca aynı sahaya hangar – depodan başka en fazla iki adet taşınabilir konteynır ve ya karavan konulabilir.
  <br>
  Hazine Arazilerinde; Ormanlık alanlarda ilaveten proje sahası yatay alanının %0,1 (binde bir) ‘ine kadar alanda projeye uygun standartta prefabrik yapılabilir. Bu miktar 3000 m²’yi geçemez.
  <br>
  Sahipli Arazilerde; Ağaçlandırma bakım, koruma ve üretim hizmetlerinde kullanılmak üzere projeye uygun standartta prefabrik yapılabilir. Bu alan proje yatay alanının %6’ sından büyük olamaz.
  <br>
  Proje sahibinin isteği doğrultusunda yukarıda belirtilen şartlara bağlı kalmak suretiyle özel ağaçlandırma projesi içerisinde bazı tesisler kurulabilir. Özel ağaçlandırma sahası içerisinde kullanılacak türlere ait dikim aralıklarının proje sahibi ile yapılan mutabakat doğrultusunda 20 nolu özel ağaçlandırma tamimi hükümleri çerçevesinde karar verilecektir.
  <br>
  Bu tesislerin haricinde kalan alanlar üzerinde öngörülecek diri örtü temizliği, arazi hazırlığı, tel ihata, fidan aralıklarına bağlı olarak yapılacak piketaj, fidan bedeli, fidan dikimi ve üç yıllık bakım bedelleri üzerinden proje yatırım giderleri cetveli oluşturulur.
  <br>
  Tanzim edilen proje ilgili Ağaçlandırma şefliği tarafından kontrol edilerek bağlı bulunduğu Bölge müdürlüğüne gönderilir. Proje onayı yapıldıktan sonra proje sahibi projeye bağlı kalmak kaydı ile çalışmalarına başlayabilir. Proje tanziminden sonra yapılacak her türlü değişiklik için (tür değişikliği, fidan aralıklarının değiştirilmesi vb.) revize proje yapılması gereklidir.
  <br>
  Yine Orman Genel Müdürlüğünün belirlemiş olduğu esaslar dikkate alınarak ve projesinde yer alması koşulu ile ikincil ürün olarak Şahıs ve Hazine arazilerinde alt tarım ürünü, Orman vasıflı araziler üzerinde ise tıbbi aromatik bitkilerin üretimi yapılabilir.
</p>
</div>
