<div class="banner">
  <div class="banner-foto" style="background-image: url('./assets/images/banner.jpg'); background-size: cover; background-position: center;" alt="Random first slide">
    <h1> Hizmetler</h1>
    <div class="bg"></div>

  </div>
</div>

<div class="container">
  <p>

İlkadım Danışmanlık alanında uzman deneyimli kadrosuyla süreç uygulama yönetimi mantığıyla hareket ederek ve çalışmalarını çözüm odaklı
yürüterek kurumlara danışmanlık hizmetleri sunmaktadır. Devlet destekli yatırım teşvik ve hibe destekleri konusunda firmalara yol gösterici, yatırımlarını en uygun şekilde
 planlayan ve şekillendiren, buna göre projelerini hazırlayan ve sürecin etkin olarak takibini gerçekleştirerek başarılı bir şekilde tamamlanmasını sağlayan, şirketlerin finans ve mali konularda çözüm odaklı çalışan etkin bir danışmanlık şirketidir
  </p>
</div>


