<div class="header" >
  <div class="bg"></div>
  <nav class="navbar navbar-expand-lg" appScroll >
  <div class="container">
    <a class="navbar-brand" style="display: flex; " routerLink="" >
      <div class ="logo" style="background-image: url('./assets/images/logo.png');"></div>
      <div class="font">İLKAY  ORMANCILIK</div>
      </a>
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"  style="background-color: white; border-radius: inherit;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Kurumsal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Hizmetler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Belgeler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Kılavuzlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Referanslar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">Sorumluluklarımız</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active-link">İletişim</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
