.new-nav{
  background-color: #212529;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  opacity: .95;

}
.header {
  width: 100%;
  height: auto;
  display: block;
  position: fixed;
  float: left;
  border-bottom: 2px solid rgba(255, 255, 255, 0.068);
  transition: 0.5s;
  z-index: 99;
  }
.navbar-brand .logo{
  margin-top: -16px;
   background-size: cover;
   height: 80px;
   width: 80px;


}
.header .navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  }
  .header .navbar ul li {
  width: auto;
  height: auto;
  display: block;
  position: relative;
  float: left;
  }
  .header .navbar button {
  width: auto;
  height: auto;
  display: none;
  position: absolute;
  float: right;
  outline: none;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  right: 0;
  top: 38px;
  }
  .btn-16 {
  border: none;
  color: rgb(226, 180, 180) !important;
  }
  .btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #0001,
   -4px -4px 5px 0px #0001,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px rgba(11, 167, 154, 0.067);
  transition: all 0.3s ease;
  }
  .btn-16:hover {
  color: #000 !important;
  }
  .btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
  }
  .btn-16:active {
  top: 2px;
  }
  .navbar-nav .nav-link{
    color:white;
    font-family: 'ABeeZee', sans-serif;
    z-index: 3;
    font-size: 13px;
    display: block;
  }
  .navbar-nav .nav-link.active-link{
    color:rgb(157 245 24);
    text-decoration: underline;
    z-index: 3;
    display: block;
  }
  .font{
    font-family: 'El Messiri', sans-serif;
    margin-top: 13px;
    color: white;
    }

  @media screen and  (max-width: 992px){
    .header .navbar .container button {
      display: contents;
    }
    }

      @media (min-width: 1200px){
        .container
        { max-width: 1200px !important;
        }
      }
      @media screen and  (max-width: 992px){
        .header .navbar .container button {
          display: contents;
        }
      }
      .bg {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        float: left;
        left: 0;
         top: 0;
        opacity: .30;
         background-color: rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(180deg,#010711 0,rgb(27 26 26) 34%);
        z-index: 0;
        }
