<div class="banner">
  <div class="banner-foto" style="background-image: url('./assets/images/banner.jpg'); background-size: cover; background-position: center;" alt="Random first slide">
    <h1> MADEN HİZMETLERİ</h1>
    <div class="bg"></div>

  </div>
</div>

<div class="container" style="margin-top: 40px;" >
<h4>MADEN RUHSAT MÜRACAATLARI</h4>
<p>Maden sahaları ruhsat müracaatı için talep harcı yatırılıp maden ismi belirtilerek  ruhsat müracaatı yapılır. </p>
<h4>MADEN RUHSATLARININ DEVİR İŞLEMLERİ</h4>
<b>ARAMA VE İŞLETME RUHSATLARI İÇİN DEVİR MÜRACAATLARINDA VERİLMESİ GEREKEN BELGELER VE MÜRACAATIN GEÇERLİ OLMASI İÇİN SAĞLANMASI GEREKEN KRİTERLER</b>
<br><p>Ruhsat devirleri Maden Kanunu ile Bazı Kanunlarda ve Kanun Hükmünde Kararnamede Değişiklik Yapılmasına Dair 7164 sayılı Kanunla Değişik 3213 sayılı Maden Kanununun 5., 6., 13., 27., 38. ve 43. maddeleri ile Maden Yönetmeliğinin 82., 84., 95., 96., 97., 99. maddeleri ve 94/7. ve 94/8. fıkrasına göre yapılmaktadır.</p>
<br> <b>DEVİR TALEPLERİNDE VERİLMESİ GEREKEN BELGELER VE TAMAMLANMASI GEREKEN KRİTERLER:</b>
<p>Maden Kanunu ile Bazı Kanunlarda ve Kanun Hükmünde Kararnamede Değişiklik Yapılmasına Dair 7164 sayılı Kanunla Değişik 3213 sayılı Maden Kanununun 13. Maddesinin dördüncü fıkrasında; “…, devir taleplerinde işletme ruhsat taban bedelinin Genel Müdürlüğün bütçesine gelir kaydedilmek üzere Genel Müdürlüğün muhasebe birimi hesabına yatırılması ve 6183 sayılı Kanunun 22/A maddesi kapsamında vadesi geçmiş borcun bulunmaması hâlinde müracaat edilir. … Aksi takdirde bu fıkra kapsamındaki müracaatlar ruhsat taban bedelleri iade edilmeksizin reddedilir.” hükmü ile,</p>
<p>Aynı maddenin beşinci fıkrasında; “… ruhsat devri, … talepleri; aktif edilmiş tebligata esas kayıtlı elektronik posta adresinin (KEP) veya kurumsal elektronik tebligat sistemi (eTebligat) adresinin bulunması, 6183 sayılı Kanunun 22/A maddesi kapsamında borcunun bulunmaması, ruhsat harcı, ruhsat bedeli, çevre ile uyum teminatı ve Devlet hakkı borcu olmaması, işletme izni olan işletme ruhsatlarında daimi nezaretçi atamasının yapılmış olması, yetkilendirilmiş tüzel kişi sözleşmesinin bulunması ve mevzuatın ilgili hükümleri kapsamında ibraz edilmesi gereken belgelerin tamamının eksiksiz bir şekilde ibraz edilmesi şartıyla değerlendirmeye alınır, aksi takdirde talep reddedilir. Ruhsat devir taleplerinde tahakkuk etmiş/edecek, diğer taleplerde ise tahakkuk etmiş ve son ödeme tarihi geçmiş Devlet hakkı borcu olmaması aranır.” hükmü bulunmaktadır.</p>
<br>Devreden ve devralan tarafından imzalanan Ek-Form 21 (her iki tarafın kep adresinin bildirilmesi zorunludur) ile müracaat edilmesi gerekmektedir.
<br><b>DEVREDEN</b>
<p>
  <br>1- Ruhsat aslı ve izin aslının verilmesi

  <br>2- Devir Müracaatı tarihinden sonra ortaklık veya yönetim kurulu yapısında değişiklik olmuş ise Ticaret Sicil Müdürlüğünden alınacak “Firma Durum Belgesi” nin yeniden verilmesi

  <br> 3- Devreden tarafından en son heyetten sonra kullanılan ve kullanılmayan sevk fişlerinin devralana verildiğine ilişkin devreden ve devralan tarafından imzalanmış tutanak aslının (Ek 2) verilmesi gerekmektedir.</p>
  <br><b>DEVRALAN</b>
  <p>
    <br>1- Devir bedelinin (ruhsat bedelinin iki katı) yatırılması gerekmektedir

    <br>2- Devir Müracaatı tarihinden sonra ortaklık veya yönetim kurulu yapısında değişiklik olmuş ise Ticaret Sicil Müdürlüğünden alınacak “Firma Durum Belgesi” nin yeniden verilmesi

    <br>3- İşletme izinli ruhsatlarda devir taahhütnamesi (Ek 3)

    <br>4- Sicile şerh edilmiş rödövansçı olması durumunda, devralanın bunu kabul ettiğine dair taahhütname (Ek 4)

    <br>5- Devir alacak şirketin mali yeterlilik şartlarını sağladığına dair ilgili finans kurumlarından alınan belge aslı veya ıslak imzalı noter onaylı örneği, belgeyi imzalayan kurum yetkililerine ait imza sirküleri fotokopileri
  </p>

</div>
