
footer{
background-color: #212529;
height: auto;
width: 100%;
display: block;
position: relative;
float: left;
padding: 50px 0;
}
footer p {
width: 100%;
height: auto;
display: block;
position: relative;
float: left;
margin-top: 20px;
color: #ffffff;
font-size: 15px;
font-weight: 300;
}
footer .widget h3 {
color: #fff;
margin-bottom: 30px;
}
footer .contact {
width: 100%;
height: auto;
display: block;
position: relative;
float: left;
}
footer .contact h1 {
width: auto;
height: auto;
display: block;
position: relative;
float: none;
color: #ffffff;
font-size: 20px;
font-weight: 300;
margin-bottom: 17px;
}
footer .contact span {
width: 100%;
height: auto;
display: inline-block;
position: relative;
float: none;
margin-bottom: 7px;
color: #ffffff;
font-size: 15px;
font-weight: 300;
}
.bg {
width: 100%;
height: 100%;
display: block;
position: absolute;
float: left;
left: 0;
 top: 0;
opacity: .30;
 background-color: rgba(27,26,26,.25);
background-image: linear-gradient(180deg,#010711 0,rgba(27,26,26,.65) 34%);
z-index: 0;
}

.btn-16 {
border: none;
color: rgb(226, 180, 180) !important;
}
.btn-16:after {
position: absolute;
content: "";
width: 0;
height: 100%;
top: 0;
left: 0;
direction: rtl;
z-index: -1;
box-shadow:
 -7px -7px 20px 0px #0001,
 -4px -4px 5px 0px #0001,
 7px 7px 20px 0px #0002,
 4px 4px 5px 0px rgba(11, 167, 154, 0.067);
transition: all 0.3s ease;
}
.btn-16:hover {
color: #000 !important;
}
.btn-16:hover:after {
left: auto;
right: 0;
width: 100%;
}
.btn-16:active {
top: 2px;
}
.navbar-nav .nav-link{
  color:white;
  font-family: 'ABeeZee', sans-serif;
  z-index: 3;
  display: block;
}
.navbar-nav .nav-link.active-link{
  color:rgb(135, 179, 148);
  text-decoration: underline;
  z-index: 3;
  display: block;
}
.banner{
  background-position: center center;
  background-size: cover;
}
.img{
background-image: url('../assets/images/maps.PNG');
height: 400px;
background-position: center bottom;
background-size: cover;
}
.banner-foto{
width: 100%;
height: 100vh;
}
.middle{
height: 100px;
margin: auto;
margin-top: 150px;
padding-top: 0px;
position: relative;
}
.font{
font-family: 'Pacifico', cursive;
color: aliceblue;
position: relative;
margin: auto;
}
.main-banner{
margin-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 3rem;

background-color: #dbdbdb38;

}
.textwidget{
font-size: 12px;
color: #999;

}
.textwidget ul {
list-style: none;
list-style-type: none;
position: relative;
  float: left;
  margin-left: -31px;

}
.textwidget p{
font-size: 12px;
color: #999;
margin: 0 0 ;
}
.textwidget h6 {
color: #fff;
}
.textwidget .font h6{

  font-size: 29px;
  margin-top: -7px;
  margin-bottom: 6px;

}
.social a {
text-decoration: none;
}
.footer-copyright {
width: 100%;
height: auto;
display: block;
position: relative;
float: left;
background-color: #222222;
padding: 5px 0;
}

.footer-copyright p {
width: auto;
height: auto;
display: flex;
float: left;
position: relative;
margin-bottom: 0;
min-height: 30px;
justify-content: center;
align-items: center;
font-size: 14px;
color: #ffffff;
}
.footer-copyright .mt {
width: auto;
height: 30px;
display: block;
float: right;
position: relative;
color: #ffffff;
font-size: 14px;

}
.box{
padding-top: 50px;
width: 50px;
height: 100px;
background-color: plum;
padding: auto;
}
.stepBox
{
  background-color: #fff;
  padding: 20px 20px;
  text-align: center;
  height: 300px;

}
.card:hover{
-webkit-box-shadow: 0px 0px 44px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 44px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 44px -9px rgba(0,0,0,0.75);

}

@keyframes glowing {
0% {
  transform: rotate(0);
}
100% {
  transform: rotate(360deg);
}
}
.stepBox h1
{
  font-size: 50px;
  font-weight: bold;
  color:var(--primary-color);
}
.stepBox p
{padding: 2px;
  font-size: 20px;
  font-style: italic;
  color:#000;
}
.col{
padding-top: 50px;
}
.banner-font{
position: relative;
margin: auto;
}
p{
font-family: 'PT Sans Narrow', sans-serif;
}
.social{
/* border-right: 1px solid rgba(143, 7, 7, 0.3);*/
padding-right: 10px;

}
.social  a {
cursor: pointer;
color: #000;
margin-top: 10px;
}

.social a:hover{
color:#f1800b;

}
.social span {
width: 100%;
height: auto;
display: inline-block;
position: relative;
float: none;
margin-bottom: 7px;
color: #222222;
font-size: 16px;
}

.phone{
display: flex;
float: left;
padding-right: 10px;
}
.fontOne
{
font-family: 'Libre Baskerville', serif;
font-size: 16px;
}
.font{
font-family: 'El Messiri', sans-serif;
margin-top: 7px;
color: white;
}

.btn-5 {
width: 130px;
height: 40px;
line-height: 42px;
padding: 0;
border: none;
background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.custom-btn {
width: 130px;
height: 40px;
color: #fff;
border-radius: 5px;
padding: 10px 25px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
outline: none;
}

.btn-5:hover {
color: #f0094a;
background: transparent;
 box-shadow:none;
}
.btn-5:before,
.btn-5:after{
content:'';
position:absolute;
top:0;
right:0;
height:2px;
width:0;
background: #f0094a;
box-shadow:
 -1px -1px 5px 0px #fff,
 7px 7px 20px 0px #0003,
 4px 4px 5px 0px #0002;
transition:400ms ease all;
}
.btn-5:after{
right:inherit;
top:inherit;
left:0;
bottom:0;
}
.btn-5:hover:before,

.btn-5:hover:after{
width:100%;
transition:800ms ease all;
}


@media (min-width: 1200px){
.container
{ max-width: 1200px !important;
}
}
@media screen and  (max-width: 992px){
.header .navbar .container button {
  display: contents;
}
}

