
<div class="banner">
  <div class="banner-foto" style="background-image: url('./assets/images/banner.jpg'); background-size: cover; background-position: center;" alt="Random first slide">
    <h1>KADEMELİ KAPATMA PLANI</h1>
    <div class="bg"></div>

  </div>
</div>

<div class="container" style="margin-top: 40px;" >
<br><p>Kademeli kapatma planı, iznin başlangıcından kadar sonuna kadar olan , pasa döküm ve atık barajları gibi döküm alanlarını doğaya geri kazandırmak için silvikültür yöntemlerine uygun olarak ağaçlandırılarak izin alanı kapatılır ve doğaya yeniden kazandırılır.</p>

<br><p>Yığınların üst tabakaları suyun yerçekimi ile drenajına imkân verecek eğime sahip ve aynı zamanda su erozyonuna karşı korunmayı sağlayıcı şekilde biçimlendirilir. Bu şekildeki pasa oluşumlarında rehabilitasyon projesine ek olarak kademeli kapatma planı da düzenlenir.</p>
<br><p>Kademeli kapatma planı, pasa ve atık barajı gibi döküm alanlarında orman ekosisteminin tesisi maksadıyla ağaçlandırma ve silvikültür tekniklerine uygun, iznin başlangıcından sona ermesine kadar geçen sürede, izin alanının kapatılmasını takiben öngörülen nihai haline uygun olarak kapatılmasını ve tabiata kazandırılmasını gösterir plandır.</p>
</div>
