/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');

html, body {
  font-family: 'BIZ UDPGothic', sans-serif;

}
.font{
  font-family: 'Pacifico', cursive;
  z-index: 3;

}
