


  <div class ="banner">
    <ngb-carousel *ngIf="images">

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" >
          <div class="banner-foto" style="background-image: url('./assets/images/slide1.jpg'); background-size: cover; background-position: center;" alt="Random first slide">
            <div class="bg"></div>

              <div class="tittle"><h1>
                <span>Orman </span>
                <span>sevgisini</span>
                <span>küçükten</span>
                <span>büyüğe</span>
                <span>herkese</span>
                <span>aşılamayı</span>
                <span>amaç</span>
                <span>edindik</span>

              </h1>
            </div>
        </div>

          <div class="carousel-caption">

          </div>
        </div>

      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div  class="banner-foto"  style="background-image: url('./assets/images/slide2.jpg'); background-size: cover; background-position: center;" alt="Random second slide">
            <div class="bg"></div>


              <div class="tittle"><h1>
                <span>Yeşil </span>
                <span>görmeyen</span>
                <span>gözler</span>
                <span>renk</span>
                <span>zevkinden</span>
                <span>yoksundur.</span>
                <span>burayı</span>
                <span>öyle</span>
                <span>ağaçlandırın ki </span>
                <span>kör </span>
                <span>bir </span>
                <span>insan </span>
                <span>dahi</span>
                <span>ağaçların</span>
                <span>arasında </span>
                <span>olduğunu </span>
                <span>anlasın. </span>

              </h1>
            </div>
          </div>

        </div>
        <div class="carousel-caption">

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="banner-foto"  style="background-image: url('./assets/images/slide3.jpg'); background-size: cover; background-position: center;"  alt="Random third slide" >
  <div class="bg"></div>

      <div class="tittle"><h1>
        <span>"Ormansız </span>
        <span>bir</span>
        <span>yurt</span>
        <span>vatan</span>
        <span>değildir"</span> <br>
        <span>- Atatürk</span>

      </h1>
  </div>
          </div>
        </div>
        <div class="carousel-caption">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- Hizmetlerimiz-->
  <div class="main-banner">
    <div class="container">
      <h1 class="text-center pt-5"> Hizmetler</h1>
      <div class="row mt-5">
          <!-- one  -->
          <div class="col-lg-4 mt-4 ">
            <div class="card">


              <img src="./assets/images/card1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text">Kademeli Kapatma Planı</h5>
                <p class="card-text">Kademeli kapatma planı, iznin başlangıcından kadar sonuna kadar olan , pasa döküm ve atık barajları gibi döküm alanlarını doğaya geri kazandırmak için silvikültür yöntemlerine uygun olarak ağaçlandırılarak izin alanı kapatılır ve doğaya yeniden kazandırılır...</p>
                <a routerLink="kademeli" class="btn btn-danger btn-sm">Detaylı incele </a>
              </div>
            </div>
          </div>
        <!-- two -->
          <div class="col-lg-4 mt-4 ">

                <div class="card" >
                  <img src="./assets/images/mera2.jpg" class="card-img-top" alt="..." style="
                  height: 249.35px;">
                  <div class="card-body">
                    <h5 class="card-text"> Mera İzinleri</h5>
                    <p class="card-text">7257 Sayılı Kanun’la Değişik 3213 Sayılı Maden Kanunu gereğince işletme ruhsatı alınmış bir sahada faaliyetlerin gerçekleştirilmesi planlanan alan mera ise 4342 Sayılı Mera Kanunu ve Yönetmeliği gereği “Mera Vasıf Değişikliği Talepli İşletme Projesi” hazırlanır ...</p>
                    <a routerLink="mera"class="btn btn-danger btn-sm">Detaylı incele </a>
                  </div>


              </div>
          </div>
          <!-- three  -->
          <div class="col-lg-4 mt-4">
            <div class="card" >
              <img src="./assets/images/card2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text">Özel Ağaçlandırma Tanzim</h5>
                <p class="card-text">Özel ağaçlandırma projesi yapılırken sahada ihtiyaç doğrultusunda üretim, bakım ve koruma amaçlı konteynır, karavan ile hangar-depo, sulama havuzu, enerji nakil hattı ve servis yolu yapılmasına izin verilebilir. Sahanın mülkiyetine bağlı olarak;....</p>
                <a  routerLink="agaclandirma" class="btn btn-danger btn-sm">Detaylı incele </a>
              </div>
            </div>
          </div>
          <!-- four -->
          <div class="col-lg-4 mt-4 ">
            <div class="card" >
              <img src="./assets/images/maden3.jpg" class="card-img-top" alt="..." style="
                  height: 249.35px;">
              <div class="card-body">
                <h5 class="card-text">Maden Ruhsat Müracaati</h5>
                <p class="card-text">İlk Müracaat İşlemleri kapsamında E maden sistemi üzerinden Alan Sorgulama işlemi yapıldıktan sonra alanın uygun olması sonucunda Yine E maden sistemi üzerinden ilk müracaat işlemleri yapılır. Müracaat, kurum tarafından değerlendirildikten sonra müracaat... </p>
                <a  routerLink="maden" class="btn btn-danger btn-sm">Detaylı incele </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-4 ">
            <div class="card" >
              <img src="./assets/images/ced.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-text">CED İzinleri</h5>
                <p class="card-text">Gerçekleştirmeyi planladıkları faaliyetleri sonucu çevre sorunlarına yol açabilecek kurum, kuruluş ve işletmeler bir “Çevresel Etki Değerlendirme Raporu” hazırlarlar. Bu raporda çevreye yapılabilecek tüm etkiler göz önünde bulundurularak çevre kirlenmesine sebep...</p>
                <a href="#" class="btn btn-danger btn-sm">Detaylı incele </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-4 ">
            <div class="card">
              <img src="./assets/images/map2.jpg" class="card-img-top" alt="..." style="
              height: 249.35px;">
              <div class="card-body">
                <h5 class="card-text">Cevre Haritaları</h5>
                <p class="card-text">Madencilik faaliyetlerinin ve su yönetiminin başarısı; hızlı, doğru, sistematik su izleme programına ve hidrojeolojik etütlere bağlıdır. Mitto Danışmanlık, alanında uzman hidrojeoloji mühendisleri ile ihtiyaçlarınıza en doğru çözümler üretir...</p>
                <a href="#" class="btn btn-danger btn-sm">Detaylı incele </a>
              </div>
            </div>
          </div>

            <div class="text-center pt-5">
  <a href="#" class="btn btn-dark btn-sm mr-5"> Tümünü Görüntüle </a>


          </div>
      </div>
  </div>

  </div>

  <!-- iletişim -->

  <div class="main-banner" >
    <div class="container">

      <div class="row mt-5 mb-5">
        <div class="col-lg-12">
          <div class="text-center pt-5">
            <h1> İletişim </h1>
          </div>
        </div>
        <div class="col-lg-12 mt-5 ">
          <div class="row" style="height: 500px !important;">
            <div class="col-lg-6">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.2737400359056!2d32.83234007649607!3d39.95763208345291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34e99a73e8ad9%3A0xd3a1d1f5b090461a!2zVmFybMSxaywgWcO8esO8Y8O8IFNrLiwgMDYxNzAgWWVuaW1haGFsbGUvQW5rYXJh!5e0!3m2!1str!2str!4v1672588737760!5m2!1str!2str"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-lg-6">
            <div class="social ms-5">

              <a href="#" ><i class="fa-brands fa-instagram  fa-lg" style="padding: 10px !important;"></i> </a>
             <a href="#"><i class="fa-brands fa-facebook  fa-lg"  style="padding: 10px !important;"></i></a>
             <a href="#"><i class="fa-brands fa-square-twitter  fa-lg"  style="padding: 10px !important;"></i></a>
             <a href="https://api.whatsapp.com/send?phone=905369626475"><i class="fa-brands fa-whatsapp fa-lg" style="padding: 10px !important;"></i></a>
             <a href="mailto: info@ilkayormancilik.com"><i class="fa-regular fa-envelope fa-lg" style="padding: 10px;"></i></a>
             <a href="tel:+905369626475"><i class="fa-sharp fa-solid fa-phone-flip " style="padding: 10px;"></i></a>
             <span>
              <a href="tel:+905369626475" ><i class="fa-sharp fa-solid fa-phone-flip " style="padding: 10px;"></i> Tel: (+90) 536 962 64 75 </a>
             </span>
             <span>
              <a href="mailto: info@ilkayormancilik.com" ><i class="fa-regular fa-envelope fa-lg" style="padding: 10px;"></i> info@ilkayormancilik.com</a>
             </span>
             <span>
              <i class="fa-solid fa-map-pin fa-lg" style="padding: 10px;"></i>
            Yüzücü Sokak, Varlık Mahallesi Yenimahalle, Ankara Türkiye
            </span>


          </div>
          </div>
          </div>


  </div>
  </div>
    </div>
    </div>

    <!-- footer  -->

