
<div class="banner">
  <div class="banner-foto" style="background-image: url('./assets/images/banner.jpg'); background-size: cover; background-position: center;" alt="Random first slide">
    <h1>MERA İZNİ</h1>
    <div class="bg"></div>

  </div>
</div>

<div class="container" style="margin-top: 40px;" >
<br><p>7257 Sayılı Kanun’la Değişik 3213 Sayılı Maden Kanunu gereğince işletme ruhsatı alınmış bir sahada faaliyetlerin gerçekleştirilmesi planlanan alan mera ise 4342 Sayılı Mera Kanunu ve Yönetmeliği gereği “Mera Vasıf Değişikliği Talepli İşletme Projesi” hazırlanır ve 6443 sayılı kanunla değişik 4342 sayılı Mera Kanunun 14. Maddesine ve bağlı yönetmeliklerine göre; geri dönüşümlü yatırımlarda teminata esas olacak şekilde “Mera Geri Dönüşüm Projesi” hazırlanır..</p>

<br><p>Yığınların üst tabakaları suyun yerçekimi ile drenajına imkân verecek eğime sahip ve aynı zamanda su erozyonuna karşı korunmayı sağlayıcı şekilde biçimlendirilir. Bu şekildeki pasa oluşumlarında rehabilitasyon projesine ek olarak kademeli kapatma planı da düzenlenir.</p>
<br><p>Madde 40 – (Değişik birinci fıkra: 21/3/2007-2007/11932 K.) Arama faaliyetleri sonunda rezervi belirlenen madenlerin üretim ve üretime yönelik tüm faaliyetlerin yapılacağı alanların tahsis amacı; Bakan1ığın, Tarım ve Köyişleri Bakanlığı il müdürlüğüne yapacağı başvuruyu müteakip, mera komisyonunun ve defterdarlığın uygun görüşü üzerine, valilikçe değiştirilebilir ve söz konusu yerlerin hazine veya ait olduğu vakıf adına tescili yapılır.
  <br> Arama ruhsatı döneminde belirlenen rezervin 1/10’unun üretilebilmesi için tahsis amacının değiştirilmesi gerekir.
  <br>İşletme ruhsatı döneminde yapılacak arama faaliyetleri ile ilgili olarak arama ruhsatı dönemindeki işlemler yapılır.
  <br><b>Çevresel etki değerlendirmesi raporu sunulması</b>
  <br>Madde 41 – Tahsis amacının değiştirilmesi işlemlerine, çevresel etki değerlendirmesi süreci sonucu beklenmeden başlanır. Ancak tahsis amacı değiştirilecek alanların Hazine adına tescili için “Çevresel Etki Değerlendirmesi Olumlu” veya “Çevresel Etki Değerlendirmesi Gerekli Değildir” kararının ilgili kamu kuruluşuna sunulması zorunludur.
  <br><b>Tahsis amacının değiştirilmesi</b>
  <br> Madde 42- (Değişik birinci fıkra: 21/3/2007-2007/11932 K.) Mera, yaylak ve kışlakların tahsis amacının değiştirilmesi talebi gerekli belgelerle Genel Müdürlüğe yapılır.
  <br> (Değişik ikinci fıkra: 21/3/2007-2007/11932 K.) Genel Müdürlüğe yapılan müracaatlar değerlendirilerek, görüşle beraber gerekli belgeler Tarım ve Köyişleri Bakanlığı il müdürlüğüne gönderilir.
  <br> Tahsis amacının değiştirilmesi işlemlerinin müracaat tarihinden itibaren en geç 3 ay içinde sonuçlandırılması esastır.
  Bedeller
  <br> Madde 43 – Tahsis amacının değiştirilmesi karşılığı maden ruhsat sahibinin ödeyeceği bedel, mera, yaylak ve kışlaklardan elde olunacak 20 yıllık ot geliri esas alınarak mera komisyonunca tespit edilir. Bunun dışında herhangi bir bedel ödenmez.
  <br> Madencilik faaliyetleri sonrasında çevre ile uyumlu hale getirilmesi
  <br> Madde 44- (Değişik: 21/3/2007-2007/11932 K.)
  <br> Tahsis amacı değiştirilen alanda yapılacak madencilik faaliyetleri çevredeki mera alanlarını olumsuz yönde etkilemeyecek şekilde yürütülür. Maden ruhsat sahibi, tahsis süresi bitiminde faaliyette bulunduğu alanları işletme projesinde veya çevresel etki değerlendirmesi raporunda kabul edildiği şekilde en geç altı ay içinde çevre ile uyumlu hale getirilmekle yükümlüdür. Aksi halde Kanunun 7’nci maddesine göre işlem yapılır.
 <br><b> Mera alanlarında tesis yapımı</b>
  <br> Madde 45- Tahsis amacı değiştirilmiş alanlarda valiliğe bilgi vermek suretiyle madencilik faaliyetleri için gerekli olan tesisler yapılabilir.
  <br> Ruhsat alındıktan sonra mera ilanı
  <br> Madde 46- Genel Müdürlükçe işletme izni verildikten sonra, bu alanın mera ilan edilmesi durumunda, herhangi bir tahsis değişikliği yapılmadan, temdit dahil madencilik faaliyeti yürütülür.
<b> Mera alanlarında yolların kullanılması</b>
  <br> Madde 47- Mera alanlarındaki mevcut yollar, madencilik faaliyetlerinde kullanılmak üzere iyileştirilerek genişletilebilir. Bu yolların kullanımı esnasında etrafındaki mera alanlarının etkilenmemesi için gerekli önlemler maden ruhsat sahibince alınır.
  <br> Madencilik faaliyetleri için ruhsat alanı dışında yapılması zorunlu olan yolların mera alanlarından geçmesi durumunda, mera tahsis değişikliği yapılarak yol yapılmasına izin verilir.
  <br> Madencilik faaliyetleri için gerekli olan su, haberleşme, enerji nakil hatları, konveyör bantları gibi geçici tesisler, tahsis amacının değiştirilmesine gerek kalmadan valilikten izin alınarak yapılır.</p>
</div>
